<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <h1 class="text-3xl font-bold text-blue-600 mb-4">Host Application</h1>
  <div class="flex gap-4">
    <button
      class="px-4 py-2 bg-green-500 text-white rounded shadow hover:bg-green-600"
      (click)="sendMessageToIframe('Hello from Host!')"
    >
      Send Message
    </button>
    <button
      class="px-4 py-2 bg-purple-500 text-white rounded shadow hover:bg-purple-600"
      (click)="sendMessageToIframe('Another message from Host!')"
    >
      Send Another Message
    </button>
  </div>

  <div class="flex gap-4 my-6">
    @for(app of apps;track $index){

      <button
        class="px-4 py-2 bg-blue-500 text-white rounded shadow hover:bg-blue-600"
        (click)="loadApp(app.url)"
      >
        Load {{ app.name }}
      </button>
    }
  </div>
  <div class="mt-6 w-full h-full max-w-4xl">
    <iframe
      class="w-full h-96 rounded border shadow"
      [src]="selectedAppUrl | safe"
      frameborder="0"
    ></iframe>
  </div>
</div>
